body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color:#333;
  color:white;
}


.navbar {
  background-color:#f1f1f1;
}

.navbar p {
  padding:8px 0 0 0;
  color:#666;
}

.list-container {
  background-color:#444;
  width:70%;
  margin:50px auto;
}

.list-header {
  background-color:#111;
  font-size:28px;
  padding:10px;
}

.single-coin {
  display:flex;
  justify-content: space-around;
  border-bottom: 5px solid #333;
  padding:10px 0;
}

.single-coin p, .list-table-headers p {
  margin-top:15px;
}

.list-table-headers {
  display:flex;
  justify-content:space-around;
  border-bottom: 5px solid #333;
  padding:10px 0;
}


.ReactModalPortal > div {
  opacity:0;
}

.ReactModalPortal .ReactModal__Overlay {
  transition:opacity 200ms ease-in-out;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
  opacity:1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
  opacity:0;
}

/* .modal-container {
  color:#333;
} */

.modal {
  background-color:#333;
  width:50%;
  margin: 1% auto;
  border-radius:5px;
  padding:20px;
  display: inline-block;
  height:54%;
}

.overlayModal {
  position:fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color:rgba(255, 255, 255, .3);
}

@media (max-width:800px) {
  .single-coin {
    display:block;
  }
}